<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
<link rel="icon" href="/assets/images/favicon/favicon.ico" sizes="any">
<link rel="icon" href="/assets/images/favicon/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/icon-192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/images/favicon/icon-512.png">
<meta name="msapplication-TileColor" content="#fffff">
<meta name="theme-color" content="#fffff">
